:root{
--cor-primaria:#32BEF0;
--cor-secundaria:#27348B;
}


body{
    padding: 0;
    margin: 0;
}
header{
    background-image: linear-gradient(180deg, rgba(14, 13, 13, 0.61), rgba(0, 0, 0, 0.082));
}
.container{
    max-width: 1140px;
    margin: auto;
}
.container.head{
    display: flex;
    justify-content: space-between;
}
.local-logo img{
    height: 100px;
    width: 265px;
}
.menu{
display: flex;
align-items: center;
}
.menu ul{
    color: #fff;
    display: flex;
    list-style: none;
    align-items: center;
} 
.menu ul li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-transform: capitalize;
}




.backgroud{
    top: 0px;
    position: absolute;
    background-image: url('../images/fundo1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    z-index:-999;
}
.login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 104px);
}
.form-login{
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.849);
}