body{
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:calc(100vh - 50px);
}
.container{
    margin-top:50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 150px);
    color: #fff;
    text-align: center;
}
.container img{
    width: 350px;
    -webkit-filter: 0px 0px 30px 15px rgba(0,0,0,0.75);
}
.container h1{
    margin-top: 60px;
    line-height: 50px;
    text-transform: uppercase;
    text-shadow: 2px 1px 2px #000;
}
@media(max-width:325px){
.container{
padding-left: 20px;
}
.container img{
    width: 300px;
}

}